In [17]:
import pandas as pd
from sqlalchemy import create_engine

# Extract
df = pd.read_excel('Sample - Superstore.xls')

# Transform (if necessary)
# Example: Renaming columns to match MySQL table schema
import pandas as pd

# Load each sheet into a DataFrame
orders_df = pd.read_excel('Sample - Superstore.xls', sheet_name='Orders')
people_df = pd.read_excel('Sample - Superstore.xls', sheet_name='People')
returns_df = pd.read_excel('Sample - Superstore.xls', sheet_name='Returns')

### Orders Sheet Transformations
# Ensure Order Date and Ship Date are in datetime format
orders_df['Order Date'] = pd.to_datetime(orders_df['Order Date'])
orders_df['Ship Date'] = pd.to_datetime(orders_df['Ship Date'])

# Removing columns that are not needed
orders_df = orders_df.drop(columns=['Country/Region'])

# Convert Postal Code to string to preserve leading zeros
orders_df['Postal Code'] = orders_df['Postal Code'].astype(str)

# Remove duplicate rows, if any, based on Order ID and Product ID
orders_df = orders_df.drop_duplicates(subset=['Order ID', 'Product ID'])

# Handling missing values (example: filling missing values with a placeholder or median, depending on context)
# This is a placeholder example. Adjust according to your data's context.
orders_df.fillna({'Sales': 0, 'Profit': 0}, inplace=True)

### People Sheet Transformations
# Assuming names and regions are already consistent, but here's how to ensure capitalization
people_df['Regional Manager'] = people_df['Regional Manager'].str.title()
people_df['Region'] = people_df['Region'].str.title()

# Check for duplicate regional managers
people_df = people_df.drop_duplicates(subset=['Regional Manager'])

### Returns Sheet Transformations
# Assuming validation and adding a "Returned" flag to orders requires cross-referencing
returns_df['Returned'] = True  # Mark all as returned for merging

# Merge to include a "Returned" flag in orders
orders_df = pd.merge(orders_df, returns_df[['Order ID', 'Returned']], on='Order ID', how='left')
orders_df['Returned'].fillna(False, inplace=True)

# At this point, the DataFrames orders_df, people_df, and returns_df have been transformed.
# You can further analyze or export these DataFrames as needed.


# Load
engine = create_engine('mysql+mysqlconnector://root:1234@localhost:3306/database')
orders_df.to_sql('main_table', con=engine, if_exists='append', index=False)

# Write your SQL query
query = "SELECT * FROM main_table"

# Use pandas to execute the query and store the result in a DataFrame
orders_df= pd.read_sql_query(query, engine)

# Display the DataFrame
print(orders_df)

       Row ID        Order ID Order Date  Ship Date       Ship Mode  \
0           1  CA-2020-152156 2020-11-08 2020-11-11    Second Class
1           2  CA-2020-152156 2020-11-08 2020-11-11    Second Class
2           3  CA-2020-138688 2020-06-12 2020-06-16    Second Class
3           4  US-2019-108966 2019-10-11 2019-10-18  Standard Class
4           5  US-2019-108966 2019-10-11 2019-10-18  Standard Class
...       ...             ...        ...        ...             ...
12407    9992  CA-2021-121258 2021-02-26 2021-03-03  Standard Class
12408    9993  CA-2021-121258 2021-02-26 2021-03-03  Standard Class
12409    9993  CA-2021-121258 2021-02-26 2021-03-03  Standard Class
12410    9993  CA-2021-121258 2021-02-26 2021-03-03  Standard Class
12411    9994  CA-2021-119914 2021-05-04 2021-05-09    Second Class

      Customer ID    Customer Name    Segment             City       State  \
0        CG-12520      Claire Gute   Consumer        Henderson    Kentucky
1        CG-12520      Claire Gute   Consumer        Henderson    Kentucky
2        DV-13045  Darrin Van Huff  Corporate      Los Angeles  California
3        SO-20335   Sean O'Donnell   Consumer  Fort Lauderdale     Florida
4        SO-20335   Sean O'Donnell   Consumer  Fort Lauderdale     Florida
...           ...              ...        ...              ...         ...
12407    DB-13060      Dave Brooks   Consumer       Costa Mesa  California
12408    DB-13060      Dave Brooks   Consumer       Costa Mesa  California
12409    DB-13060      Dave Brooks   Consumer       Costa Mesa  California
12410    DB-13060      Dave Brooks   Consumer       Costa Mesa  California
12411    CC-12220     Chris Cortes   Consumer      Westminster  California

       ... Region       Product ID         Category Sub-Category  \
0      ...  South  FUR-BO-10001798        Furniture    Bookcases
1      ...  South  FUR-CH-10000454        Furniture       Chairs
2      ...   West  OFF-LA-10000240  Office Supplies       Labels
3      ...  South  FUR-TA-10000577        Furniture       Tables
4      ...  South  OFF-ST-10000760  Office Supplies      Storage
...    ...    ...              ...              ...          ...
12407  ...   West  TEC-PH-10003645       Technology       Phones
12408  ...   West  OFF-PA-10004041  Office Supplies        Paper
12409  ...   West  OFF-PA-10004041  Office Supplies        Paper
12410  ...   West  OFF-PA-10004041  Office Supplies        Paper
12411  ...   West  OFF-AP-10002684  Office Supplies   Appliances

                                            Product Name     Sales  Quantity  \
0                      Bush Somerset Collection Bookcase  261.9600         2
1      Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2      Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3          Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                         Eldon Fold 'N Roll Cart System   22.3680         2
...                                                  ...       ...       ...
12407                              Aastra 57i VoIP phone  258.5760         2
12408  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
12409  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
12410  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
12411  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

       Discount    Profit  Returned
0          0.00   41.9136         0
1          0.00  219.5820         0
2          0.00    6.8714         0
3          0.45 -383.0310         0
4          0.20    2.5164         0
...         ...       ...       ...
12407      0.20   19.3932         1
12408      0.00   13.3200         1
12409      0.00   13.3200         1
12410      0.00   13.3200         1
12411      0.00   72.9480         0

[12412 rows x 21 columns]